<p>checksheet works!</p>
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" >
  <meta charset="utf-8">
  <title>KU Advistment System</title>
</head>

<div id="container">

<header>
  <h1>KU Advisement System</h1>
</header>
<body>

  <form>
    <!-- Table 1 -->
    <table align="center">
      <thead>
        <tr class="courseTable"> <!--Row 1 -->
          <th colspan="4" > First Year Seminar: Discovering College </th>
          <td> Credits required:</td>
          <td class="credits">3</td>
        </tr>
      </thead>
      <tbody>    
        <tr class="courseTable"> <!--Row 2 -->
          <td colspan="4"> These courses meet SLO (1) & (5) </td>
          <td>Credits Earned</td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 3 -->
          <td style="font-weight: bold"> Course Number </td>
          <td style="font-weight: bold"> Course Name </td>
          <td align="right" colspan="3">GR</td>
          <td> CR</td>
        </tr>
        
        <tr class="courseTable"> <!--Row 4 -->
          <td> FYS 100 </td>
          <td> First Year Seminar </td>
          <td></td>
          <td></td>          
          <td align="right"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 5 -->
          <td colspan="6"> Transfer students transffering 30 credits or more, and also not transfering an FYS or FYE course;
                            may select any approved genral educaiton course too meet their FYS requirement.</td>
        </tr>
        
        <tr class="courseTable"> <!--Row 6 -->
          <td > Transfer elective: </td>
          <td></td>
          <td></td>     
          <td></td>     
        <td align="right"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
      </tbody>
    </table>
    
    <!-- Table A -->
    <table align="center">
      <thead>
        <tr class="courseTable"> <!--Row 1 -->
          <th colspan="4" > <span style="font-size: 2em">[A]</span> Communicating with and about the world </th>
          <td> Credits required:</td>
          <td class="credits">12</td>
        </tr>
      </thead>
      <tbody>    
        <tr class="courseTable"> <!--Row 2 -->
          <td colspan="4"> These courses meet SLO (1) & (5) </td>
          <td>Credits Earned</td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 3 -->
          <td style="font-weight: bold"> Course Number </td>
          <td style="font-weight: bold"> Course Name </td>
          <td align="right" colspan="3">GR</td>
          <td> CR</td>
        </tr>
        
        <tr class="courseTable"> <!--Row 4 -->
          <td>1: composition 100 level CMP 1_ <input class="course"></td>
          <td > <input class="courseName"> </td>        
          <td align="right" colspan="3" ><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 5 -->
          <td>2: composition 200 level CMP 2_ <input class="course"></td>
          <td > <input class="courseName"> </td>        
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 5 -->
          <td>3: Speaking <input class="course"></td>      
          <td> <input class="courseName"> </td>
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 5 -->
          <td>4: Any writing(A2) or speaking course(A3)
              or from the approved list <input class="course"></td>    
          <td > <input class="courseName"></td>
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 6 -->
          <td colspan="6"> Transfer students transffering 30 credits or more, and also not transfering an FYS or FYE course;
                            may select any approved genral educaiton course too meet their FYS requirement.</td>
        </tr>
      </tbody>
    </table>
    
    <!-- Table B -->
    <table align="center">
      <thead>
        <tr class="courseTable"> <!--Row 1 -->
          <th colspan="4" > <span style="font-size: 2em">[B]</span> Understanding self & others </th>
          <td> Credits required:</td>
          <td class="credits">9</td>
        </tr>
      </thead>
      <tbody>    
        <tr class="courseTable"> <!--Row 2 -->
          <td colspan="4"> These courses meet SLO (3) & (6) </td>
          <td>Credits Earned</td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 3 -->
          <td style="font-weight: bold"> Course Number </td>
          <td style="font-weight: bold"> Course Name </td>
          <td align="right" colspan="3">GR</td>
          <td> CR</td>
        </tr>
        
        <tr class="courseTable"> <!--Row 4 -->
          <td>1: <input class="course"></td>
          <td>  <input class="courseName"></td>        
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 5 -->
          <td>2: <input class="course"></td>
          <td> <input class="courseName"> </td>        
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 6 -->
          <td>3: <input class="course"></td>
          <td> <input class="courseName"></td>      
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>

      </tbody>
    </table>
    
        <!-- Table C -->
    <table align="center">
      <thead>
        <tr class="courseTable"> <!--Row 1 -->
          <th colspan="4" > <span style="font-size: 2em">[C]</span> Understanding science & technology </th>
          <td> Credits required:</td>
          <td class="credits">9-12</td>
        </tr>
      </thead>
      <tbody>    
        <tr class="courseTable"> <!--Row 2 -->
          <td colspan="4"> These courses meet SLO (2) & (3) </td>
          <td>Credits Earned</td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 3 -->
          <td style="font-weight: bold"> Course Number </td>
          <td style="font-weight: bold"> Course Name </td>
          <td align="right" colspan="3">GR</td>
          <td> CR</td>
        </tr>
        
        <tr class="courseTable"> <!--Row 4 -->
          <td>1: Scientific Inquiry <input class="course"></td>
          <td> <input class="courseName"></td>      
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 5 -->
          <td>2: Quantitative Reasoning <input class="course"></td>
          <td> <input class="courseName"></td>            
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 6 -->
          <td>3: Any course approved for C1 or C2 <input class="course"></td>
          <td> <input class="courseName"></td>            
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>

      </tbody>
    </table>
    
    
        <!-- Table D -->
    <table align="center">
      <thead>
        <tr class="courseTable"> <!--Row 1 -->
          <th colspan="4" > <span style="font-size: 2em">[D]</span> Understanding & creating ideas </th>
          <td> Credits required:</td>
          <td class="credits">9</td>
        </tr>
      </thead>
      <tbody>    
        <tr class="courseTable"> <!--Row 2 -->
          <td colspan="4"> These courses meet SLO (4) & (6) </td>
          <td>Credits Earned</td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 3 -->
          <td style="font-weight: bold"> Course Number </td>
          <td style="font-weight: bold"> Course Name </td>
          <td align="right" colspan="3">GR</td>
          <td> CR</td>
        </tr>
        
        <tr class="courseTable"> <!--Row 4 -->
          <td>1: <input class="course"></td>
          <td> <input class="courseName"></td>             
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 5 -->
          <td>2: <input class="course"></td>
          <td> <input class="courseName"></td>             
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>
        
        <tr class="courseTable"> <!--Row 6 -->
          <td>3: <input class="course"></td>
          <td> <input class="courseName"></td>      
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"><input class="credits"></td>
        </tr>

      </tbody>
    </table>
    <!-- Login Table -->
    <table align="center" style="border: none">
      
      <tr>
        <td colspan="4">
         <p>
            Login Below
         <p>
        </td>
      </tr>
  
      <tr>
        <td>
          Email: <input> 
        </td>

        <td>
          Password: <input> 
        </td>
      </tr>

   
    </table>
  
  </form>

</body>


<footer>
  <p>
    Footer
  </p>
</footer>

</div>
</html>