.courseTable
{
  text-align: left;
  font-size: 1.2em;
}

input.course {
  width:20%;
  padding:0;
  margin:0;
  text-align: center;
}
input.courseName {
  width:98%;
  padding:0;
  margin:0;

}

input.grades
{
    width:40%;
}

input.credits
{
    width:40%;
}

table
{
  border: solid black .1em;
  padding: .2em;
  margin-bottom: 1em;
  width: 50%;
}

td{
    border: solid black .1em;
    padding: .1em;    
}
td.credits{
  font-size:1.2em;
  font-weight: bold;
}