.AlignTableLeft{
    /*display: inline-block;*/
    float: left;
    width: 47%;
}

.AlignTableRight{
    /*display: inline-block;*/
    float: right;
    width: 50%;
    margin-right: 30px;
}

.CSEC{
    width: 45%;
    height: 40%;
}

#container {
    margin: 0 auto;
    width: 1800px; 
}