<app-checksheet></app-checksheet>
<div id="container">
<!--IT Checksheet REQUIRED COURSES-->
<form [formGroup]="form" >
<table class="AlignTableLeft">
  <thead>
    <tr class="courseTable"> <!--Row 1 -->
      <th colspan="4" > Required Courses </th>
    </tr>
  </thead>
  <tbody>    
    
    <tr class="courseTable"> <!--Row 3 -->
      <td align="center" style="font-weight: bold"> Course </td>
      <td align="center" colspan="3">Grade</td>
      <td align="center"> Sem</td>
    </tr>
    
    <tr *ngFor="let data of RCourses; let i=index" class="courseTable"> <!--Row 4 -->
      <ng-container *ngIf="EnrolledIT.has(data.CourseNum); else elseBlock">
      <td><input type="checkbox" [disabled]="enableStat[i]"  name ="box" (change)="onCheckboxChange($event,i)"  [checked]="checked[i]"/><div id="RightRow"><input class="course" disabled value={{data.Dept}}> <input class="course" value={{data.CourseNum}}  disabled><input align= 'rght' class="courseName" disabled value={{data.Name}}></div></td>     
      <td align="right" colspan="3" ><input class="grades" #grade [disabled]="enableStat[i]" [value]=EnrolledIT.get(data.CourseNum).Grade></td>
      <td align="right"><input class="credits" #SEM [disabled]="enableStat[i]" [value]=EnrolledIT.get(data.CourseNum).Semester></td><button (click)="toggle(i,data.Name,data.CourseNum,data.Dept,grade.value,SEM.value,box,'M')">edit</button>
       </ng-container>
       <ng-template #elseBlock>
      <td><input type="checkbox" [disabled]="enableStat[i]"  name ="box" (change)="onCheckboxChange($event,i)"  [checked]="checked[i]"/><div id="RightRow"><input class="course" disabled value={{data.Dept}}> <input class="course" value={{data.CourseNum}} disabled><input class="courseName" disabled value={{data.Name}}></div></td>       
      <td align="right" colspan="3" ><input class="grades" #grade [disabled]="enableStat[i]"></td>
      <td align="right"><input class="credits" #SEM [disabled]="enableStat[i]"></td><button (click)="toggle(i,data.Name,data.CourseNum,data.Dept,grade.value,SEM.value,box,'M')">edit</button>
        </ng-template>
    </tr>

    <tr class="courseTable"> 
        <td>TOTAL CREDITS 39</td>   
        <td align="center"><input class="credits"></td>  
        <td align="center" colspan="3"></td><button >edit</button>
    </tr>
    
  </tbody>
</table>
</form>
<form [formGroup]="sheet">

<table class="AlignTableRight">
    <thead>
        <tr class="courseTable"> <!--Row 1 -->
          <th colspan="4" > Concomitant Courses </th>
        </tr>
    </thead>
    <tbody>    
        
        <tr class="courseTable"> <!--Row 2 -->
          <td align="center" style="font-weight: bold"> Course </td>
          <td align="center" style="font-weight: bold"> CR </td>
          <td align="center" colspan="3">Grade</td>
          <td align="center"> Sem</td>
        </tr>

        <tr class="courseTable"> <!--Row 4 -->
          <td>MAT 105 COLLEGE ALGEBRA(or higher) <div id="RightRow"><input class="course" name="COD1" formControlName="COD1" > <input class="course" name="COC1" formControlName="COC1"></div>
            <td > <input class="courseName" formControlName="CON1" > </td>        
            <td align="right" colspan="3" ><input class="grades" formControlName="COG1"></td>
            <td align="right"><input class="credits" formControlName="COS1"></td><button (click)='toggle2("COD1","COC1","CON1", "COG1", "COS1", "CO")'>edit</button>
        </tr>

        <tr class="courseTable"> <!--Row 8 -->
          <td>TOTAL CREDITS 3</td>   
          <td align="center"><input class="credits"></td>  
          <td align="right" colspan="3"><input class="grades"></td>
          <td align="right"></td><button >edit</button>
        </tr>
    </tbody>
</table>

<!--DIRECTED GENERAL EDUCATION COURSES-->
<table class="AlignTableRight">
    <thead>
      <tr class="courseTable"> <!--Row 1 -->
        <th colspan="4" > <span style="font-size: 2em">Directed General Education</span> THE FOLLOWING COURSES ARE
            REQUIRED TO FULFILL THE INFORMATION TECHNOLOGY REQUIREMENTS AND ARE
            SUGGESTED TO SATISFY GENERAL EDUCATION.</th>
      </tr>
    </thead>
    <tbody>    
      
      <tr class="courseTable"> <!--Row 3 -->
        <td> <div id="RightRow"><input type="checkbox" name = "box" [disabled]="DIH1" formControlName="DIH1" (change)="changeDI1()" [checked]="DIH1" /><input class="course" name="DID1" formControlName="DID1" > <input class="course" name="DIC1" formControlName="DIC1"><input class="courseName" formControlName="DIN1" ></div>      
          <td align="center" colspan="3" ><input class="grades" formControlName="DIG1"></td>
          <td align="center"><input class="credits" formControlName="DIS1"></td><button (click)='toggle3("DID1","DIC1","DIN1", "DIG1", "DIS1", "DI","DIH1")'>edit</button>
      </tr>
      
      <tr class="courseTable"> <!--Row 4 -->
        <td> <div id="RightRow"><input type="checkbox" name = "box" [disabled]="DIH2" formControlName="DIH2" (change)="changeDI2()" [checked]="DIH2" /><input class="course" name="DID2" formControlName="DID2" > <input class="course" name="DIC2" formControlName="DIC2"><input class="courseName" formControlName="DIN2" ></div>      
          <td align="center" colspan="3" ><input class="grades" formControlName="DIG2"></td>
          <td align="center"><input class="credits" formControlName="DIS2"></td><button (click)='toggle3("DID2","DIC2","DIN2", "DIG2", "DIS2", "DI","DIH2")'>edit</button>
      </tr>
      
      <tr class="courseTable"> <!--Row 8 -->
        <td>TOTAL CREDITS 6</td>   
      </tr>
      
    </tbody>
  </table>

  <!--FREE ELECTIVE TABLE-->
<table class="AlignTableRight">
    <thead>
      <tr class="courseTable"> <!--Row 0 -->
        <th colspan="4" > <span style="font-size: 2em">Free Electives</span> ANY COURSE CARRYING UNIVERSITY CREDIT</th>
      </tr>
    </thead>
    <tbody>    
      
      <tr class="courseTable"> <!--Row 1 -->
        <td align="center" style="font-weight: bold"> Course </td>
        <td align="center" style="font-weight: bold" align="center"> CR</td>
        <td align="center" colspan="3">Grade</td>
        <td align="center">Sem</td>
      </tr>
      
      <tr class="courseTable"> <!--Row 2 -->
        <td>1: <div id="RightRow"><input class="course" name="DD1"> <input class="course" name="DC1"></div></td>
        <td> <input class="courseName"></td>     
        <td align="center"><input class="credits" ></td>        
        <td align="right" colspan="3"><input class="grades"></td><button >edit</button>
      </tr>
      
      <tr class="courseTable"> <!--Row 3 -->
        <td>2: <div id="RightRow"><input class="course" name="DD2"> <input class="course" name="DC2"></div></td>
        <td> <input class="courseName"></td> 
        <td align="center"><input class="credits" ></td>            
        <td align="right" colspan="3"><input class="grades"></td><button >edit</button>
      </tr>
      
      <tr class="courseTable"> <!--Row 4 -->
        <td>3: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center"><input class="credits" ></td>  
        <td align="right" colspan="3"><input class="grades"></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 5 -->
        <td>4: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center"><input class="credits" ></td>  
        <td align="right" colspan="3"><input class="grades"></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 6 -->
        <td>5: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center"><input class="credits" ></td>  
        <td align="right" colspan="3"><input class="grades"></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 7 -->
        <td>6: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center"><input class="credits" ></td>  
        <td align="right" colspan="3"><input class="grades"></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 8 -->
        <td>TOTAL CREDITS 15-18</td> 
      </tr>

    </tbody>
  </table>

  <!--CS ELECTIVE TABLE-->
<table class="CSEC" >
    <thead>
      <tr class="courseTable"> <!--Row 0 -->
        <th colspan="4" > <span style="font-size: 2em">CS Elective Courses</span> 18 CREDITS OF ADDITIONAL CSC COURSES, NUMBER
            200 OR ABOVE AND NOT PREVIOUSLY USED FOR ABOVE REQUIREMENTS. CSC 280
            AND CSC 380 CANNOT BE USED HERE.  </th>
      </tr>
    </thead>
    <tbody>    
      
      <tr class="courseTable"> <!--Row 1 -->
        <td align="center" style="font-weight: bold"> Course </td>
        <td align="center" colspan="3">Grade</td>
        <td align="center">Sem</td>
      </tr>
      
      <tr class="courseTable"> <!--Row 2 -->
        <td>1: <div id="RightRow"><input class="course" name="DD1"> <input class="course" name="DC1"><input class="courseName"></div></td>      
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>
      
      <tr class="courseTable"> <!--Row 3 -->
        <td>2: <div id="RightRow"><input class="course" name="DD2"> <input class="course" name="DC2"><input class="courseName"></div></td>
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>
      
      <tr class="courseTable"> <!--Row 4 -->
        <td>3: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"><input class="courseName"></div></td>    
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 5 -->
        <td>4: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"><input class="courseName"></div></td> 
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 6 -->
        <td>5: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"><input class="courseName"></div></td>    
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 7 -->
        <td>6: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"><input class="courseName"></div></td>   
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 8 -->
        <td>TOTAL CREDITS 18</td>   
        <td align="center"><input class="credits"></td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td></td><button >edit</button>
      </tr>

    </tbody>
  </table>
  

 </form>

</div>
