<app-checksheet></app-checksheet>
<div id="container">
<!--IT Checksheet REQUIRED COURSES-->
<form [formGroup]="form" >
<table class="AlignTableLeft">
  <thead>
    <tr class="courseTable"> <!--Row 1 -->
      <th colspan="4" > Required Courses </th>
    </tr>
  </thead>
  <tbody>    
    
    <tr class="courseTable"> <!--Row 3 -->
      <td style="font-weight: bold"> Course </td>
      <td style="font-weight: bold"> CR </td>
      <td align="center" colspan="3">Grade</td>
      <td align="center"> Sem</td>
    </tr>
    
    <tr *ngFor="let data of RCourses; let i=index" class="courseTable"> <!--Row 4 -->
      <td><input type="checkbox" (change)="onCheckboxChange($event)" />{{data.name}}</td>
      <td align="center"> 3 </td>        
      <td align="right" colspan="3" ><input class="grades"></td>
      <td align="right"><input class="credits" ></td><button>edit</button>
    </tr>

    <tr class="courseTable"> 
        <td>TOTAL CREDITS 39</td>   
        <td align="center"><input class="credits"></td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td></td><button >edit</button>
    </tr>
    
  </tbody>
</table>

<!--CONCOMITANT COURSES-->
<table class="AlignTableRight">
    <thead>
        <tr class="courseTable"> <!--Row 1 -->
          <th colspan="4" > Concomitant Courses </th>
        </tr>
    </thead>
    <tbody>    
        
        <tr class="courseTable"> <!--Row 2 -->
          <td style="font-weight: bold"> Course </td>
          <td style="font-weight: bold"> CR </td>
          <td align="center" colspan="3">Grade</td>
          <td align="center"> Sem</td>
        </tr>

        <tr *ngFor="let data of CCourses; let i=index" class="courseTable"> <!--Row 4 -->
            <td><input type="checkbox" (change)="onCheckboxChange($event)" />{{data.name}}</td>
            <td align="center"> 3 </td>        
            <td align="right" colspan="3" ><input class="grades"></td>
            <td align="right"><input class="credits" ></td><button>edit</button>
        </tr>
    </tbody>
</table>

<!--DIRECTED GENERAL EDUCATION COURSES-->
<table class="AlignTableRight">
    <thead>
      <tr class="courseTable"> <!--Row 1 -->
        <th colspan="4" > <span style="font-size: 2em">Directed General Education</span> THE FOLLOWING COURSES ARE
            REQUIRED TO FULFILL THE INFORMATION TECHNOLOGY REQUIREMENTS AND ARE
            SUGGESTED TO SATISFY GENERAL EDUCATION.</th>
      </tr>
    </thead>
    <tbody>    
      
      <tr class="courseTable"> <!--Row 3 -->
        <td style="font-weight: bold"> Course </td>
        <td style="font-weight: bold"> G. E. </td>
        <td align="center" colspan="3">Grade</td>
        <td align="center"> Sem</td>
      </tr>
      
      <tr *ngFor="let data of DGECourses; let i=index" class="courseTable"> <!--Row 4 -->
        <td><input type="checkbox" (change)="onCheckboxChange($event)" />{{data.name}}</td>
        <td align="center"> {{data.GE}} </td>        
        <td align="right" colspan="3" ><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button>edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 8 -->
        <td>TOTAL CREDITS 6</td>   
        <td align="center"><input class="credits"></td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>
      
    </tbody>
  </table>

  <!--FREE ELECTIVE TABLE-->
<table class="AlignTableRight">
    <thead>
      <tr class="courseTable"> <!--Row 0 -->
        <th colspan="4" > <span style="font-size: 2em">Free Electives</span> ANY COURSE CARRYING UNIVERSITY CREDIT</th>
      </tr>
    </thead>
    <tbody>    
      
      <tr class="courseTable"> <!--Row 1 -->
        <td style="font-weight: bold"> Course Number </td>
        <td style="font-weight: bold"> Course Name </td>
        <td style="font-weight: bold" align="center"> CR</td>
        <td align="center" colspan="3">Grade</td>
        <td align="center">Sem</td>
      </tr>
      
      <tr class="courseTable"> <!--Row 2 -->
        <td>1: <div id="RightRow"><input class="course" name="DD1"> <input class="course" name="DC1"></div></td>
        <td> <input class="courseName"></td>     
        <td align="center"><input class="credits" ></td>        
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>
      
      <tr class="courseTable"> <!--Row 3 -->
        <td>2: <div id="RightRow"><input class="course" name="DD2"> <input class="course" name="DC2"></div></td>
        <td> <input class="courseName"></td> 
        <td align="center"><input class="credits" ></td>            
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>
      
      <tr class="courseTable"> <!--Row 4 -->
        <td>3: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center"><input class="credits" ></td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 5 -->
        <td>4: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center"><input class="credits" ></td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 6 -->
        <td>5: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center"><input class="credits" ></td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 7 -->
        <td>6: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center"><input class="credits" ></td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 8 -->
        <td>TOTAL CREDITS 15-18</td>
        <td></td>    
        <td align="center"><input class="credits"></td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td></td><button >edit</button>
      </tr>

    </tbody>
  </table>

  <!--CS ELECTIVE TABLE-->
<table class="CSEC" >
    <thead>
      <tr class="courseTable"> <!--Row 0 -->
        <th colspan="4" > <span style="font-size: 2em">CS Elective Courses</span> 18 CREDITS OF ADDITIONAL CSC COURSES, NUMBER
            200 OR ABOVE AND NOT PREVIOUSLY USED FOR ABOVE REQUIREMENTS. CSC 280
            AND CSC 380 CANNOT BE USED HERE.  </th>
      </tr>
    </thead>
    <tbody>    
      
      <tr class="courseTable"> <!--Row 1 -->
        <td style="font-weight: bold"> Course Number </td>
        <td style="font-weight: bold"> Course Name </td>
        <td style="font-weight: bold" align="center"> CR</td>
        <td align="center" colspan="3">Grade</td>
        <td align="center">Sem</td>
      </tr>
      
      <tr class="courseTable"> <!--Row 2 -->
        <td>1: <div id="RightRow"><input class="course" name="DD1"> <input class="course" name="DC1"></div></td>
        <td> <input class="courseName"></td>     
        <td align="center">3</td>        
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>
      
      <tr class="courseTable"> <!--Row 3 -->
        <td>2: <div id="RightRow"><input class="course" name="DD2"> <input class="course" name="DC2"></div></td>
        <td> <input class="courseName"></td> 
        <td align="center">3</td>            
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>
      
      <tr class="courseTable"> <!--Row 4 -->
        <td>3: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center">3</td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 5 -->
        <td>4: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center">3</td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 6 -->
        <td>5: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center">3</td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 7 -->
        <td>6: <div id="RightRow"><input class="course" name="DD3"> <input class="course" name="DC3"></div></td>
        <td> <input class="courseName"></td>    
        <td align="center">3</td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td align="right"><input class="credits" ></td><button >edit</button>
      </tr>

      <tr class="courseTable"> <!--Row 8 -->
        <td>TOTAL CREDITS 18</td>
        <td></td>    
        <td align="center"><input class="credits"></td>  
        <td align="right" colspan="3"><input class="grades"></td>
        <td></td><button >edit</button>
      </tr>

    </tbody>
  </table>
  


</form>
</div>