.AlignTableLeft{
    /*display: inline-block;*/
    float: left;
    width: 44%;
    margin-left: 20px;
}

.AlignTableRight{
    /*display: inline-block;*/
    float: right;
    width: 45%;
    margin-right: 120px;
}

.CSEC{
    width: 44%;
    height: 40%;
    margin-left: 20px;
}

#container {
    margin: 0 auto;
    width: 1800px; 
}
