/*--VARIABLES--*/
:root{
    --ku-gold: #f4d020;
    --ku-red: #701931;
}

/*--ID--*/
#RightRow
{
  display: inline;
  flex-direction: row;
  margin: 5;
}

 /*--TAGS--*/
header h1{
    text-align: center;
    font-size: 6em;
    text-decoration: underline;
    color: var(--ku-gold);
    background-color: var(--ku-red);  
  }

footer
{  text-align: center;
   font-size: 6em;
   text-decoration: underline;
   color: var(--ku-gold);
   background-color: var(--ku-red); 
}

ul{
     list-style-type: none;
     margin: 0;
     display: flex;
 }

nav {
     float: right;
 }
li a {
     padding: 1em;
     text-decoration: none; 
     color: #ffffff;
     font-size: 30px;

 }

li:hover a {
     color: var(--ku-gold);
     text-decoration: underline;
     
 }

 /*--CLASSES--*/
.Banner {
    background-color: var(--ku-red);  
    overflow: hidden;
 }

.MainBody {
     width: 90%;
     margin: 0 auto;
     margin-top: 70px;
 }

 .tableTitle
{
  font-size: 2em;
}

.tableTitleDesc
{
  font-size: .8em;
}

 /*--TABLE CSS--*/
 
table
{
  border: solid black .1em;
  padding: .2em;
  margin-bottom: 1em;
  width: 50%;
}

td{
    border: solid black .1em;
    padding: .1em;    
}
td.credits{
  font-size:1.2em;
  font-weight: bold;
}
 .courseTable
{
  text-align: left;
  font-size: 1.2em;
}

input.course {
  width:20%;
  padding:0;
  margin:0;
  text-align: center;
}
input.courseName {
  width:45%;
  float: right;
}

input.grades
{
    width:40%;

}

input.credits
{
    width:40%;
}