/*--VARIABLES--*/
:root{
    --ku-gold: #f4d020;
    --ku-red: #701931;
}

header h1{
    text-align: center;
    font-size: 6em;
    text-decoration: underline;
    color: var(--ku-gold);
    background-color: var(--ku-red);  
  }

 ul{
     list-style-type: none;
     margin: 0;
     display: flex;
 }

 nav {
     float: right;
 }
 li a {
     padding: 1em;
     text-decoration: none; 
     color: #ffffff;
     font-size: 30px;

 }

 li:hover a {
     color: var(--ku-gold);
     text-decoration: underline;
     
 }

 /*--CLASSES--*/
 .Banner {
    background-color: var(--ku-red);  
    overflow: hidden;

 }

 .MainBody {
     width: 90%;
     margin: 0 auto;
     margin-top: 70px;
 }