<app-checksheet #genEd></app-checksheet>
<form  [formGroup]="form">
<table align="right">
    <thead>
        <tr class="courseTable"> <!--Row 1 -->
          <th colspan="4" > <span style="font-size: 2em">[C]</span> Understanding science & technology </th>
          <td> Credits required:</td>
          <td class="credits">9-12</td>
        </tr>
      </thead>
    <tbody>    
      <tr class="courseTable"> <!--Row 2 -->
        <td colspan="4"> These courses meet SLO (1) & (5) </td>
        <td>Credits Earned</td>
        <td align="right"><input class="credits"></td>
      </tr>
      
      <tr class="courseTable"> <!--Row 3 -->
        <td style="font-weight: bold"> Course Number </td>
        <td style="font-weight: bold"> Course Name </td>
        <td align="right" colspan="3">GR</td>
        <td> CR</td>
    </tr>
        <tr  *ngFor="let data of Courses; let i=index" class="courseTable"> <!--Row 4 -->
            <ng-container *ngIf="Enrolled.has(data.CourseNum);else elseBlock">
            <td>{{i+1}}<div id="RightRow"><input class="course" [disabled]="enableStat[i]" value={{data.Dept}}> <input class="course" value={{data.CourseNum}} [disabled]="enableStat[i]"></div></td>
            <td> <input class="courseName" [disabled]="enableStat[i]" value={{data.Name}}></td>      
            <td align="right" colspan="3"><input class="grades" [disabled]="enableStat[i]" [value]=Enrolled.get(data.CourseNum).Grade></td>
            <td align="right"><input class="credits" [disabled]="enableStat[i]" [value]=Enrolled.get(data.CourseNum).Semester></td> <button (click)='toggle(i)'>edit</button>
            <td align="right"><input type="checkbox" [disabled]="enableStat[i]"  name ="box" (change)="onCheckboxChange($event,data.Name,data.CoureNum,data.dept,grade,sem,box)"  checked="true"/></td>
            </ng-container>
             <ng-template #elseBlock>
            <td>{{i+1}}<div id="RightRow"><input class="course" [disabled]="enableStat[i]" value={{data.Dept}}> <input class="course" value={{data.CourseNum}} [disabled]="enableStat[i]"></div></td>
            <td> <input class="courseName" value={{data.Name}} [disabled]="enableStat[i]" ></td>      
            <td align="right" colspan="3"><input class="grades" name="grade" [disabled]="enableStat[i]"></td>
            <td align="right"><input class="credits"  name = "sem" [disabled]="enableStat[i]"></td> <button (click)='toggle(i)'>edit</button>
            <td align="right"><input type="checkbox" name = "box" [disabled]="enableStat[i]" (change)="onCheckboxChange($event,data.Name,data.CoureNum,data.dept,grade,sem,box)" /></td>
             </ng-template>
          </tr>
      
    </tbody>
    </table>
</form>