.AlignTableLeft{
    /*display: inline-block;*/
    float: left;
    width: 48%;
    margin-bottom: 35px;
}

.AlignTableRight{
    /*display: inline-block;*/
    float: right;
    width: 48%;
    
    margin-bottom: 30px;
}

.CSEC{
    width: 48%;
    height: 20%;
    margin-right: 20px;
    float: left;;
    
}

#container {
    display: block;
    margin: 0 auto;
    height: 500px;
    width: 1400px; 
    
}
#csr{
    margin-right: 60px;
    float: right;
}