<div>
<form [formGroup]="log">

<table>
    <button (click)=newLog()>New Entry</button>
    <thead>
        <tr>
          <th colspan="4" > <span class="tableTitle">Log Entries</span></th>
        </tr>
      </thead>
      <tbody>
        <tr class="courseTable"> <!--Row 3 -->
            <td  align="center" style="font-weight: bold">Date</td>
            <td style="font-weight: bold" align="center" colspan="3">Data</td>
          </tr>
 
<ng-container *ngIf="LogStatus">
    <tr>
        <td>{{newDATE}}</td>
        <td> <textarea rows="10" cols="53" formControlName="log1" ></textarea> </td>
    </tr><button (click)='submitLog("log1")' >Submit</button>

</ng-container>
<ng-container *ngFor="let log of logs"> 
<tr>
    <td>{{log.date}}</td>
    <td> <textarea rows="4" cols="50" readonly >{{log.info}}</textarea> </td>
</tr>

</ng-container>    
</tbody>
</table>
</form>
</div>